/*
 * @Author: Gilberto López
 * @Date: 2018-04-03 21:53:33
 * @Last Modified by: Gilberto López
 * @Last Modified time: 2018-04-04 12:49:28
 */

/* ––––––––––––––––– GENERAL ––––––––––––––––– */

:host {
  display: flex;
  align-items: stretch;

  width: 100%;
  height: 100vh;
}

/* ––––––––––––––––– HANGMAN BOARD ––––––––––––––––– */

.hangman-board {
  flex: 1 0 75%;
  display: flex;
  flex-direction: column;



  background-color: #FEFEFE;
}

.word-section {
  flex-basis: 70%;
  flex-grow: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 70px;

  p {
    min-width: 40px;
    height: 60px;
    margin: 0 10px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 56px;
    color: transparent;

    border-bottom: solid 1px #1A1A1A;

    &.discovered {
      color: black;
    }

    &.lost {
      color: rgba(black, .3);
    }
  }
}

.record-section {
  flex-basis: 30%;
  flex-grow: 0;

  padding: 30px 70px;

  background-color: #FAFAFA;

  & > header {
    text-transform: uppercase;
  }
}

.letter-history {
  display: flex;
  flex-wrap: wrap;

  font-size: 36px;

  p {
    padding-right: 20px;
  }
}

/* ––––––––––––––––– HANGMAN RESULTS ––––––––––––––––– */

aside {
  flex: 0 0 20%;

  display: flex;
  flex-direction: column;

  padding: 70px 50px;

  background-color: #F1F3F5;
}

.hangman-image {
  flex-grow: 2;

  width: 80%;
  margin: 0 auto;

  line.hidden, circle.hidden, path.hidden {
    stroke: transparent;
    fill: transparent;
  }
}

.timer {
  flex-grow: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;

  text-align: center;

  p {
    font-size: 120px;
    line-height: .8;
  }
}
