/*
 * @Author: Gilberto López
 * @Date: 2018-04-03 21:55:02
 * @Last Modified by: Gilberto López
 * @Last Modified time: 2018-04-04 04:43:55
 */

 /* ––––––––––––––––– BROWSER RESETS ––––––––––––––––– */
 * {
   padding: 0;
   margin: 0;
  }

  /* ––––––––––––––––– FONT ––––––––––––––––– */
  @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700');

  body {
    font-family: 'Dosis', sans-serif;
  }
